@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Regular.woff2') format('woff2'),
       url('FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Italic.woff2') format('woff2'),
       url('FantasqueSansMono-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('FantasqueSansMono-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('FantasqueSansMono-Italic.svg#FantasqueSansMono-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Bold.woff2') format('woff2'),
       url('FantasqueSansMono-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('FantasqueSansMono-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('FantasqueSansMono-Bold.svg#FantasqueSansMono-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-BoldItalic.woff2') format('woff2'),
       url('FantasqueSansMono-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('FantasqueSansMono-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('FantasqueSansMono-BoldItalic.svg#FantasqueSansMono-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: italic;
}
