<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="title" content="Flyer">
    <meta name="description" content="A flyer generator.">
    <meta name="keywords" content="Flyer Generator">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Fr">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="Grumph">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" media="screen" href="fonts/FantasqueSans.css" type="text/css"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app">
      <noscript>
        <strong>
          L'application <%= htmlWebpackPlugin.options.title %> nécessite JavaScript pour fonctionner.
          <br>Il ne semble pas activé sur votre navigateur, ou il est peut être bloqué pour cette page uniquement.
          <br>Vérifiez votre système ou demandez à un ami.
        </strong>
      </noscript>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
