<template>
  <div class="root">
    <div class="container">
      <div class="flyer stack" ref="capture">
        <div class="background layer">
          <img src="fond.jpg" width="1000"/>
        </div>
        <div class="layer gradient"></div>
        <div v-for="(t, id) in texts" :key="id"
             class="layer"
             :class="{ nooverflow : capturing }"
        >
          <Textzone :id="id"
                  v-model:style="t.style"
                  v-model:text="t.text"
          ></Textzone>
        </div>
      </div>
    </div>

    <div class="editables">
      <button class="button primary_color" @click="onCapture" :disabled="capturing">
        {{ capturing ? "Patientez..." : "Générer" }}
      </button>
    </div>
  </div>
</template>

<script>
 import { mapMutations } from "vuex";
 import domtoimage from "dom-to-image-more";
 import Textzone from "./Textzone.vue"

export default {
   name: "Flyer",
   components: {
     Textzone,
     /* Textedit, */
     /* FontSelector */
   },
  data() {
    return {
      // Ğ
      texts: [
        {
          text: "Intitulé de l'évènement",
          style: {
            width: 490 + 'px',
            /* height: 100 + 'px', */
            left: 500 + 'px',
            top: 50 + 'px',
            'font-size': 62 + 'px',
            'text-align': 'center',
            color: 'yellow',
            'font-style': 'italic',
          }
        },
        {
          text: "description sommaire de ce qui va s'y passer",
          style: {
            'font-size': 41 + 'px',
            'text-align': 'center',
            width: 420 + 'px',
            left: 550 + 'px',
            top: 220 + 'px',
            color: 'yellow',
            'font-style': 'italic',
          }
        },
        {
          text: "Ici on met la date, l'heure et le lieu.<br>Les détails pratiques sur une ou deux lignes.",
          style: {
            /* height: 100 + 'px', */
            'font-size': 32 + 'px',
            'text-align': 'center',
            width: 980 + 'px',
            top: 465 + 'px',
            left: 10 + 'px',
            'font-style': 'italic',
          }
        }
      ],
      image: "",
      capturing: false,
    };
  },
  methods: {
    ...mapMutations(["setImage"]),
    onCapture() {
      this.capturing = true;
      domtoimage
        .toPng(this.$refs.capture)
        .then((dataUrl) => {
          console.log("Captured")
          this.setImage(dataUrl);
          this.capturing = false;
        })
        .catch((error) => {
          this.capturing = false;
          console.error("oops, something went wrong!", error);
        });
    },
  },
};
</script>

<style scoped>

 .container {
   margin-top: 1em;
   margin-bottom: 1em;
   display: grid;
   justify-content: space-around;
 }


 .flyer {
   font-family: Fantasque Sans Mono, Helvetica, Consolas, Arial, sans-serif;
   width: max-content;
   height: max-content;
 }

 .background {
   background-color: black;
 }


 .gradient {
   width: 100%;
   height: 100%;
   background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
 }


 /** .stack and .layer:
    .stack is the container, it contains multiple .layer
    every .layer are on top of each other
    size of .stack is size of the biggest .layer
 */
 .stack {
   display: grid;
 }

 .layer {
   grid-column: 1;
   grid-row: 1;
 }

 .nooverflow {
   overflow: hidden;
 }

 img {
   background-color: black;
   padding-bottom: 1em;
   z-index: -1;
 }

 .editables {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
   background-color: #c0decd;
   padding: 1em 3em;
 }

 button {
   font-size: 1.5em;
 }
 button:hover {
   background: transparent;
 }
</style>
