<template>
  <div class="footer_container">
      <div class="footer_bar">
        <small>
          <button @click="popupVisible = true">À propos <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg></button>
        </small>
      </div>
      <div class="help_popup" @click="popupVisible = false" v-if="popupVisible">
        <div>
          Fait <!-- avec passion  -->par Grumph

          <br><br>
          Inspiré de <a target="_blank" href="https://github.com/Daltonic/quoteLab">quoteLab</a><br>
          Icones de <a target="_blank" href="https://iconsvg.xyz">ICONSVG</a><br>
          Polices:
          <ul>
            <li><a target="_blank" href="https://github.com/belluzj/fantasque-sans">Fantasque Sans</a></li>
          </ul><br>
          Autres crédits:
          <ul>
            <li><a target="_blank" href="https://medium.com/the-z/making-a-resizable-div-in-js-is-not-easy-as-you-think-bda19a1bc53d">1</a></li>
          </ul>
        </div>
      </div>
  </div>
</template>

<script>
export default {
   data() {
     return {
       popupVisible: false
     }
   }
}
</script>

<style scoped>
 .help_popup, .help_popup>div{
   width: 50%;
   min-width: 16em;
   border-radius: 1em;
   background-color: white;
   padding: 2% 2%;
   z-index: 1200;
   margin: 0;
 }

 .help_popup {
   padding: 0;
   left: 0;
   border-radius: 0;
   background-color: rgba(0,0,0,0.4);
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
   position: fixed;
   top: 0;
 }

 .footer_container {
   display: inline-block;
   text-align: center;
   width: 100%;
   background: #4d5458;
   padding: 10px;
 }

 .footer_bar  {
   color: white;
   padding: 10px 0;
 }

 .footer_bar > small > button  {
   align-items: center;
   display: inline-flex;
 }
</style>
