<template>
  <div class="result_container">
    <div class="buttons">
      <a class="button primary_color" :href="image" download="flyer.png">
        Télécharger
      </a>
      <button class="button secondary_color" @click="setImage('')">Supprimer</button>
    </div>
    <img :src="image" alt="flyer.png" />
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "imager",
  methods: {
    ...mapMutations(["setImage"]),
  },
  computed: {
    ...mapGetters(["image"]),
  },
};
</script>

<style scoped>
.result_container {
  margin-top: 1em;
  display: grid;
  justify-content: space-around;
  max-width: 100%;
  background-color: white;
}


.buttons {
  text-align: center;
}

img {
  box-shadow: 0 0.5em 1.2em 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
}

</style>
