<template>
  <div class="textedit">
    <p
      class="textarea"
      @input="setText($event.target.innerHTML)"
      v-html="innerText"
      contenteditable="true"
      ref="textedit"
    ></p>
    <!-- :style="style" -->
  </div>
</template>

<script>
 export default {
   name: "Textedit",
   props: {
     style: {
       type: Object
     },
     text: {
       type: String,
     }
   },
   emits: ['update:text', 'uptade:style'],
   data: function() {
     return {
       // Local copy of "text" prop, this avoids cursor of contenteditable to be reset at each input
       innerText: ""
     };
   },
   mounted() {
     // set contenteditable paragraph element to p instead of default div
     document.execCommand('defaultParagraphSeparator', false, 'p');
     // copy the prop to the local data
     this.innerText = this.text;
   },
   methods: {
     setText(value) {
       this.$emit('update:text', value);
     }
   },
   watch: {
     text(newText) {
       if (this.$refs.textedit.innerHTML != newText) {
         this.innerText = newText;
       }
     }
   }
 }
</script>

<style scoped>

 .textedit {
   width: 100%;
 }

 .textarea, textarea {
   background-color: #eeeeee;
   width: 100%;
   border: none;
   border-radius: 9px;
   padding: 0.7em;
   box-shadow: 0 0.5em 2.2em 0 rgba(0, 0, 0, 0.15);
   margin-bottom: 1em;
 }

 .textarea:focus, textarea:focus {
   background-color: white;
 }

 /* p {
    color: white;
    position: relative;
    max-width: 100%;
    min-width: 100px;
    min-height: 10px;
    }

    p:hover {
    border: 1px yellow solid;
    margin-top: -1px;

    }
  */
</style>
