<template>
  <div class="resizable"
       :class="{ ontop: isFocused }"
       :style="style"
  >
    <div class="resizers"
         :class="{ notvisible: !isFocused }"
    >
      <p
        class="textzone"
        contenteditable="true"
        :style="style"
        @input="setText($event.target.innerHTML)"
        @focus="isFocused = true"
        @blur="isFocused = false"
        v-html="innerText"
        ref="textzone"
      ></p>

      <div class='resizer move-resizer'
           :class="{ notvisible: !isFocused }"
           @mousedown.prevent='startAction($event)'
           @touchstart.prevent='startAction($event)'
      ></div>
      <div class='resizer resize-resizer'
           :class="{ notvisible: !isFocused }"
           @mousedown.prevent='startAction($event)'
           @touchstart.prevent='startAction($event)'
      ></div>
    </div>
  </div>
</template>

<script>
 export default {
   name: "Textzone",
   props: {
     style: {
       type: Object
     },
     id: {
       type: Number,
     },
     text: {
       type: String,
     }
   },
   emits: ['update:text', 'update:style'],
   data: function() {
     return {
       innerText: "",
       tmpStyle: {},
       isFocused: false,
       actionOrigin: {x:0, y:0},
     };
   },
   mounted: function() {
     this.innerText = this.text;
   },
   methods: {
     setText(value) {
       this.$emit('update:text', value);
     },
     log (message) {
       console.log(message);
     },
     startAction(event) {
       this.tmpStyle = this.style;
       if (event.type == 'touchstart') {
         /* for (let i = 0; i < event.changedTouches.length; i++) { */
         let touch = event.changedTouches[0];
         this.actionOrigin.x = touch.pageX;
         this.actionOrigin.y = touch.pageY;
         if (event.target.classList.contains('move-resizer'))
           window.addEventListener('touchmove', this.move);
         if (event.target.classList.contains('resize-resizer'))
           window.addEventListener('touchmove', this.resize);
         window.addEventListener('touchend', this.stopAction);
         window.addEventListener('touchcancel', this.stopAction);
       }
       else if (event.type == 'mousedown') {
         if (event.target.classList.contains('move-resizer'))
           window.addEventListener('mousemove', this.move);
         if (event.target.classList.contains('resize-resizer'))
           window.addEventListener('mousemove', this.resize);
         window.addEventListener('mouseup', this.stopAction);
       }
     },
     getPx(str) {
       return (str === undefined) ? 0 : parseInt(str.replace('px', ''), 10);
     },
     getActionSize(event) {
       let width = 0
       let height = 0;
       if (event.type == 'touchmove') {
         let touch = event.changedTouches[0];
         width = touch.pageX - this.actionOrigin.x;
         height = touch.pageY - this.actionOrigin.y;
         this.actionOrigin.x = touch.pageX;
         this.actionOrigin.y = touch.pageY;
       }
       else if (event.type == 'mousemove') {
         width = event.movementX;
         height = event.movementY;
       }
       return {'width': width, 'height': height};
     },
     move(event) {
       let move = this.getActionSize(event);
       this.tmpStyle.left = this.getPx(this.tmpStyle.left) + move.width + 'px';
       this.tmpStyle.top = this.getPx(this.tmpStyle.top) + move.height + 'px';
       this.$emit('update:style', this.tmpStyle);
     },
     resize(event) {
       let minimum_size = 10;
       let resize = this.getActionSize(event);
       if ('height' in this.tmpStyle) {
         let resHeight = this.getPx(this.tmpStyle.height) + resize.height;
         if (resHeight > minimum_size)
           this.tmpStyle.height = resHeight + 'px';
       }
       let resWidth = this.getPx(this.tmpStyle.width) + resize.width;
       if (resWidth > minimum_size)
         this.tmpStyle.width = resWidth + 'px';
       this.$emit('update:style', this.tmpStyle);
     },
     stopAction() {
       // First ensure the real dimensions of the object are used.
       // Modifiers like min-width and min-height are respected.
       const realWidth = getComputedStyle(this.$el, null).getPropertyValue('width');
       const realHeight = getComputedStyle(this.$el, null).getPropertyValue('height');
       if(this.tmpStyle.height !== undefined && this.tmpStyle.height != realHeight)
         this.tmpStyle.height = realHeight;
       if (this.tmpStyle.width !== undefined && this.tmpStyle.width != realWidth)
         this.tmpStyle.width = realWidth;
       this.$emit('update:style', this.tmpStyle);
       // Then remove the listeners
       window.removeEventListener('mousemove', this.move);
       window.removeEventListener('mousemove', this.resize);
       window.removeEventListener('touchmove', this.move);
       window.removeEventListener('touchmove', this.resize);
       window.removeEventListener('mouseup', this.stopAction);
       window.removeEventListener('touchend', this.stopAction);
       window.removeEventListener('touchcancel', this.stopAction);
     }
   },
   watch: {
     text(newText) {
       // update innerText if text is modified outside of this component
       if (this.$refs.textzone.innerHTML != newText) {
         // thet text update is not from this component, so we can safely update innerText
         this.innerText = newText;
       }
     }
   }
 }
</script>

<style scoped>

 .resizable {
   position: relative;
   max-width: 100%;
   min-width: 5em;
   min-height: 1em;
   z-index: 1;
 }
 .resizable.ontop {
   z-index: 999;
 }

 .textzone {
   color: white;
   max-width: 100%;
   min-width: 5em;
   min-height: 1em;
 }

.resizers{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
 }

.resizers .resizer{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
 }
 .resizers .resizer.move-resizer {
   left: -1rem;
   top: -1rem;
   cursor: move;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5.2 9l-3 3 3 3M9 5.2l3-3 3 3M15 18.9l-3 3-3-3M18.9 9l3 3-3 3M3.3 12h17.4M12 3.2v17.6'%0Atransform='translate(1, 1)'%0A/%3E%3C/svg%3E");
   background-repeat: no-repeat no-repeat;
   background-position: center center;
   background-size: cover;
 }
 .resizers .resizer.resize-resizer {
   right: -1rem;
   bottom: -1rem;
   cursor: nwse-resize;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 3h6v6M14 10l6.1-6.1M9 21H3v-6M10 14l-6.1 6.1'%0Atransform='scale(1, -1) translate(1, -25)'%0A/%3E%3C/svg%3E");
   background-repeat: no-repeat no-repeat;
   background-position: center center;
   background-size: cover;
 }

 .resizer.notvisible {
   visibility: hidden;
 }

</style>
