<template>
  <div id="root">
    <h1>Générateur de flyers</h1>
    <!-- <Hero/>
         <Result/> -->
    <Flyer/>
    <!-- <Lab/> -->
    <Imager v-if="captured"/>
    <Footer/>
  </div>
</template>

<script>
 import Flyer from './components/Flyer.vue'
 import Imager from './components/Imager.vue'
 import Footer from './components/Footer.vue'
 import { mapGetters } from 'vuex'

 export default {
   name: 'App',
   data() {
     return {
       captured: false
     }
   },
   components: {
     Flyer,
     Imager,
     Footer,
   },
   computed: {
     ...mapGetters([
       'image'
     ])
   },
   watch: {
     image() {
       this.captured = !!this.image
     }
   }
 }
</script>

<style>
 * {
   margin: 0;
   box-sizing: border-box;
 }

 #root {
   text-align: center;
 }
 .button {
   border: transparent;
   cursor: pointer;
   border-radius: 9px;
   box-shadow: 0 0.5em 1.2em 0 rgba(0, 0, 0, 0.15);
   padding: 0.7em;
   margin: 1.8em 0.4em;
   text-decoration: none;
 }

 .primary_color {
   background: #00ad5f;
   color: white;
 }

 .primary_color:hover {
   background: white;
   color: #00ad5f;
 }

 .secondary_color {
   background: white;
   color: #00ad5f;
 }

 .secondary_color:hover {
   background: #00ad5f;
   color: white;
 }



</style>
